* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url(bg2.jpg);
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
}

.container {
  width: 40%;
  min-width: 450px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 100%;
  margin-top: 20%;
  padding: 30px;
  padding-bottom: 10px;

  border-radius: 8px;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.3);
}

.container * {
  font-family: sans-serif;
  border: none;
  outline: none;
}

.head {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}

.inputs-wrapper {
  background-color: transparent bisque;
  padding: 4vh 4vh;
  border-radius: 8px;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
  margin-bottom: 50px;
}

input,
button {
  height: 50px;
  background-color: white;
  color: black;
  font-weight: 600;
  font-size: 16px;
  border-radius: 5px;
}

input {
  width: 60%;
  padding: 0 20px;
}

button {
  width: 30%;
  float: right;
  cursor: pointer;
}

button:hover {
  background-color: aqua;
}

.outputs-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.outputs-wrapper div {
  height: 100px;
  width: 100px;
  border-radius: 5px;
  color: black;
  display: grid;
  place-items: center;
  padding: 20px;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
}

span {
  font-size: 30px;
  font-weight: 500;
}

p {
  font-size: 14px;
  color: rgba(10, 10, 10, 0.974);
  font-weight: 400;
}

/* Media Queries */

/* Small devices (phones, 576px and up) */
@media (min-width: 576px) {
  .container {
    width: 80%;
    margin-top: 20%;
    /* min-width: auto; */
    top: 10%;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .container {
    width: 70%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .container {
    width: 50%;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .container {
    width: 40%;
  }
}
